.titulo {text-align: center;color: purple}
.paragrafo {text-align: center;
    background-color: bisque;

        color: rgb(0, 0, 0);
            padding: 24px 0;
                margin: 0 16px;
                    font-size: 16px;


                }
.meio {text-align: center;color:purple;}